body {
    font-family: 'Arial', sans-serif;
    display: grid;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
}

.contenedor {
    background-color: rgba(54, 91, 169, 1);
    width: 100%;
    display: inherit;
    grid-template-columns: .60fr .40fr;
    border: 1px solid black;
}

.titulo-logo {
    margin-left: 150px;
    color: white;
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: .40fr .40fr .20fr;
    font-size: 12px;
    color: white;
    margin-top: 15px;
}

.caja-gris {
    width: 100%;
    height: 60vh;
    background-color: rgba(240, 240, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar {
    display: block;
}

.caja-recuperar {
    border: 1px solid rgba(200, 200 ,200, 1);
    padding: 10px;
    width: 100%;
    height: 22vh;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
}

h3 {
    font-size: 16px;
    text-align: left;
}

.botones {
    background-color: rgba(235, 235, 235);
    border: 1px solid rgba(200, 200, 200, 1);
    text-align: right;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
}

.center {
    text-align: center;
}

.link {
    color: rgb(133, 172, 231);
    text-decoration: none;
}

.boton-azul {
    background-color: rgb(60, 103, 196);
    color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 4px;
}

.boton-cancelar {
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.section {
    width: 70%;
    margin-left: 60px;
}

.num-mov {
    width: 70%;
    border: 1px solid lightgray;
    padding: 3px;
}